!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
      div.container          
        div.navbar.navbar-inverse
          div.navbar-inner
            a(href='#').brand C2 Reader     
            ul.nav
                li.active
                  a(href='/') Home                
                li
                  a(href='/About') About
      div.container
        div.row-fluid
          div.span3
            div.well
              ul.nav.nav-list
                li.nav-header Workouts
                li.active: a(href='#') 8x500m/4:00r
                li: a(href='#') 5x800m/2:00r
          div.span9
            div
              h2 Secondary Content
              block content
     
        div.footer 
          p &copy; dabstar 2012
    